<p><%= t('hello') %></p>
<strong><p><%=  @name.titleize if @name %></p></strong>
<p>
  <strong><%= t('today_date') %>:</strong>
  <%= l(Date.today) %>
</p>
<p>
  <strong><%= t('environment') %>:</strong>
  <%= t(Rails.env) %>
</p>
<%= render 'menu' %>