<p><%= "#{t('hello')} #{@name.titleize if @name}" %></p>
<p>
  <strong><%= t('today_date') %>:</strong>
  <%= l(Date.today) %>
</p>
<p>
  <strong><%= t('environment') %>:</strong>
  <%= t(Rails.env) %>
</p>
<p>
  <strong><%= t('actual_locale') %></strong>
</p>
<%= render 'menu' %>