<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
  </head>
  <h1>ADMIN <%= t('header') %></h1>
  <p>without scaffolds.css</p>
  <body>
    <%= link_to 'Home', root_path %>
    <%= yield %>
  </body>
  <h1>ADMIN <%= t('footer') %></h1>
</html>
