<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'scaffolds', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1><%= t('header') %></h1>
    <p>with scaffolds.css</p>
    <h3><%= link_to 'English', root_path(locale: 'en') %></h3>
    <h3><%= link_to 'Português (Brasil)', root_path(locale: 'pt-BR') %></h3>
    <%= yield %>

    <script>$.notify("Access granted", "success");</script>
  </body>
  <h1><%= t('footer') %></h1>
</html>
