<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <h1><%= t('header') %></h1>
  <h3><%= link_to 'English', root_path(locale: 'en') %></h3>
  <h3><%= link_to 'Português (Brasil)', root_path(locale: 'pt-BR') %></h3>
  <body>
    <%= yield %>
  </body>
  <h1><%= t('footer') %></h1>
</html>
